<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kurGuncelleme.Properties.Settings.Cs" connectionString="Data Source=ERKANPC\ERKAN;Initial Catalog=EgemenogluRaporlama;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>