<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EgemenOgluRaporlama.Properties.Settings.Cs" connectionString="Data Source=MEHMET\SQLSERVER;Initial Catalog=MikroDB_V14_01;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="EgemenOgluRaporlama.Properties.Settings.CsRaporlama"
            connectionString="Data Source=MEHMET\SQLSERVER;Initial Catalog=EgemenogluRaporlama;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="EgemenOgluRaporlama.Properties.Settings.v14" connectionString="Data Source=MEHMET\SQLSERVER;Initial Catalog=MikroDB_V14_01;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="EgemenOgluRaporlama.Properties.Settings.CsInsanKaynaklari"
            connectionString="Data Source=MEHMET\SQLSERVER;Initial Catalog=EgemenogluGirisCikis;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
